* { box-sizing: border-box; }
.fa-podcast {
    font-size: 20vw;
    color: #09264a;
}
.h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline solid #2081f9;
    border-radius: 50px;
    height: auto;
    width: 20%;
}
.amp {
    font-size: 4vw;
}
.amicon {
    background-color: #09264a;
    border: 1px solid #ADB4BA;
    color: yellow;
    text-align: center;
    border-radius: 20px;
    width: 300px;
    height: 300px;
}
.nav-item {
    font-size: 120%;
    font-weight: 470;
}